@import url("../css/links.css");
@import url("../css/fonts.css");
@import url("../css/bigtitle.css");
@import url("../css/body.css");
@import url("../css/p.css");
@import url("../css/h2.css");

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 1px solid #96d4d4;
  padding: 1em;
}

tr:hover {
  background-color: #383838;
}

/* Main */
.main {
  padding-top: 4em;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1000px) {
  table {
    width: 85%;
  }
  th,
  td {
    border: none;
  }
}
