@import url("../css/links.css");
@import url("../css/fonts.css");
@import url("../css/bigtitle.css");
@import url("../css/body.css");
@import url("../css/p.css");

/* General Colors */
p {
  text-align: left;
}

/* Titles */
.maintext {
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}
