@import url("../css/links.css");
@import url("../css/fonts.css");
@import url("../css/bigtitle.css");
@import url("../css/body.css");
@import url("../css/p.css");
@import url("../css/h2.css");
@import url("../css/h1.css");

li {
  list-style-type: none;
}

.main-text {
  width: 60%;
  margin: auto;
  padding: 1em;
}

@media screen and (max-width: 1000px) {
  .main-text {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .main-text {
    width: 95%;
  }
}
