[submodule "ec2_repo"]
	path = ec2_repo
	url = https://github.com/sachiniyer/ec2-page
[submodule "coffee_repo"]
	path = coffee_repo
	url = https://github.com/sachiniyer/coffee-page
[submodule "about_repo"]
	path = about_repo
	url = https://github.com/sachiniyer/about-page
[submodule "email_repo"]
	path = email_repo
	url = https://github.com/sachiniyer/email-page
[submodule "interesting_repo"]
	path = interesting_repo
	url = https://github.com/sachiniyer/interesting-page
[submodule "landing_repo"]
	path = landing_repo
	url = https://github.com/sachiniyer/landing-page
[submodule "projects_repo"]
	path = projects_repo
	url = https://github.com/sachiniyer/projects-page
[submodule "webcam_repo"]
	path = webcam_repo
	url = https://github.com/sachiniyer/webcam-page
