/* Version: 1.0 */
/* font stuff */
@font-face {
  font-family: "TitleFont";
  src: url("../fonts/title.ttf") format("truetype");
}

@font-face {
  font-family: "RegularFont";
  src: url("../fonts/main.ttf") format("truetype");
}

/* General Colors */
body {
  background-color: #3f3f3f;
  color: #7cb8bb;
  text-align: center;
}

h2 {
  font-size: 2em;
}

li {
  font-size: 1.5em;
  list-style-type: none;
}
a:link {
  color: #7f9f7f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #7f9f7f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #dc8cc3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #dc8cc3;
  background-color: transparent;
  text-decoration: underline;
}

/* Titles */
.bigtitle {
  background-color: #383838;
  color: #7cb8bb;
  text-align: center;
  font-family: "TitleFont", sans-serif;
  padding: 1em;
  font-size: 2em;
}
