.title {
  background-color: #088796;
  color: #ffffff;
}

body {
  background-color: #3797a4;
}

a {
  color: #ffffff;
}

.hidden {
  font-size: 0;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
}

h2 {
  color: #ffffff;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-align: center;
}

h4 {
  color: #ffffff;
  text-align: center;
}

h5 {
  color: #ffffff;
  text-align: center;
}

h6 {
  color: #ffffff;
  text-align: center;
}

ol {
  text-align: center;
  color: #ffffff;
  list-style-position: inside;
}

.reallink {
  color: #b8b8b8;
}

p {
  color: #ffffff;
  text-align: center;
}

.mybutton {
  background-color: #088796;
  outline: none;
}

.spacer {
  margin-top: 20em;
}

.maintext {
  padding-left: 20%;
  padding-right: 20%;
}
