@import url("../css/links.css");
@import url("../css/fonts.css");
@import url("../css/bigtitle.css");
@import url("../css/body.css");
@import url("../css/p.css");
@import url("../css/h2.css");
@import url("../css/h3.css");
@import url("../css/spacer.css");

.responsive-text {
  color: #7cb8bb;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}

.general-text:hover {
  color: var(--hover-color);
}

.list {
  list-style-type: none;
  column-gap: 1em;
}
